body {
    color: #000000;
    background-color: #ebe5d8;
    margin: 1em;
}

a {
    color: #173ba1;
}

li {
    margin-bottom: 0.5em;
}

h1, h2, h3 {
    border-style: solid;
    border-width: 0 0 1px 0;
}

dl {
    border-left: 1px black solid;
    margin-left: 1em;
    padding-left: 1em;
}

div.code-example {
    font-family: monospace;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #e8cba3;
    border-style: dashed;
    border-width: 1px;
    border-color: #000000;
}

div.quote {
    margin: 1em;
    padding: 0.5em;
    font-style: italic;
}

span.command-line {
    font-family: monospace;
}

span.language-symbol {
    font-family: monospace;
}

dl.command-line-options dt {
    font-family: monospace;
}

dl.class-attributes dt {
    font-family: monospace;
}

dd {
    margin-bottom: 1em;
}
